* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f8f9fa;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}